header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ff0000;
  color: #fff;
  padding: 10px 5%;

  .header-left img {
    height: 40px;
  }

  .header-right img {
    margin-left: 20px;
    height: 30px;
    cursor: pointer;
  }
}
